.cv {
    h4 {
        margin: 0;
    }
    // position: relative;
    &-title {
        color : red;
        font-weight: bold;
        font-style: italic;
        
    }
    &-item{
        &-title {
            text-align: center;
        }
        &-btn {
            button {
                margin: 5px;
                border-radius: 2px;
                border : 1px solid $primaryColor;
                width: 50px;
                height: 30px;
                cursor: pointer;
                &:hover {
                    opacity: 1.5;
                    background-color: lightblue;
                }
            }
        }
    }

    img {
        width: 150px;
        
    }
    &-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        width: 700px;
        border: 2px solid #000;
        box-shadow: 24;
        min-height: 600px;
        background-color: #f3f3f3;
        border-radius: 5px;
        &-container{
            min-height: 600px;
            span {
                margin-left: 5px ;
            }
            p {
                margin-left: 5px ;
            }
        }
        // &-header {

        // }
        &-tenuv {
            color :#66aebe;
            font-size: 1.5rem;
            font-weight: bold;
        }
        &-job {
            color :#66aebe;
            font-size: 1rem;
            font-weight: 600;
        }
        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top :0;
            max-width: 120px;
            max-height: 150px;
            border-radius: 5px;
            border: 1px solid $primaryColor;
            margin-right : 2rem;
            background-color: red;
            img {
                max-width: 120px;
                max-height: 150px;
            }
        }
        &-content {
            padding : 10px;
            background-color: #66aebe;
        }
        &-btn {
            display: flex;
            justify-content: center;
            gap : 1rem;
            align-items: center;
            margin : 1rem 0;
            
        }
        &-view {
            &-info{
                background-color: #dff9fb;
            }
            
        }
    }

}