.slider {
    width: 80%;
    margin : auto;
    min-height: 250px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slide { 
    transition: 1.3s;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    
    &-container {
        width: 80%;
    }
    &-item {
        min-width: 20%;
        min-height: 50px;
        border : 1px solid blueviolet;
    
    }
    &-card {
        &-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-img {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 80px;
                border-radius: 10px;
                border : 1px solid $primaryColor;
            }
        }
        &-detail {
            text-align: left;
            width: 60%;
        }
        &-btn {
            text-align: center;
            width: 100%;
        }
    }
}

.jobcarousel {
    text-align: center;
    &-btn {
        button {
            margin : 0 15px;
        }
    }
    &-title {
        margin: auto;
        text-align: left;
        width: 80%;
        h3 {
            font-style: italic;
            color : red;
        }
    }
}



