.job {
    &-container {
        width: 80%;
        margin: auto;
        height: 800px;
        display: flex;
    }
    &-content {
        width: 70%;
        border: 1px solid black;
    }
    &-banner {
        width: 30%;
        border: 1px solid black;
        animation: changeColor 15s infinite;
        display: flex;
        justify-content: center;
        align-items: center;
         }
    &-search {
        border: black solid 1px;
        margin: 20px;

        &-container {
            padding: 10px;
            text-align: right;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-listinfo {
        height: 700px;
        overflow: scroll;
        overflow-x: hidden;
        margin: 20px;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 120px;
            border: 1px solid;
            border-color: $primaryColor;
            margin-bottom: 20px;
            &__img {
                width: 20%;

                img {
                    width: 150px;
                    vertical-align: middle;
                    border-right: $primaryColor 1px solid;
                }
            }
            &__content {
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-left {
                    width: 80%;
                    text-align: left;
                }
                &-right {
                    width: 20%;
                }
            }
        }
    }
}
@keyframes changeColor {
    from {background : $primaryColor;}
    50% {background : yellow;} /* ignored */
    to {background : pink;}
  }